<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :meta %>
  </head>
  <body>
    <%= erb :header %>

    <div id="about-container">
      <h3 id="about-me-header">About Me</h3>
      <div>
        <img class="me" src="<%= url('/images/me-3.jpg') %>" alt="ME">
      </div>

      <div id="about-me-text">
        <h3>"Not all those who wander are lost" - J. R. R. Tolkien</h3>

        <div id="favorite-things">
          <h6>DEVELOPER</h6>
          <h6>ULTIMATE FRISBEE PLAYER</h6>
          <h6>SNOWBOARDER</h6>
          <h6>GAMER</h6>
          <h6>TRAVLER</h6>
          <h6>MOVIE GOER</h6>
          <h6>PLAYLIST MAKER</h6>
          <h6>BASKETBALL FAN</h6>
          <h6>REDDITOR</h6>
          <h6>ASPIRING COOK</h6>
        </div>

        <div id="my-summary">
          <p>
            Hey there! My name is Robert Rocco Basso. I'm a 26 year old developer
            with a specialty in Ruby on Rails currently living in Boston, MA.
            I love honing my skillset by working on projects with challenging
            front and backend components.
          </p>

          <p>
            In my spare time I love to play Ultimate Frisbee, go snowboarding,
            see movies, spend time with friends, and try new recipes.
          </p>

          <p>
            If you think I might be a good fit for your project please reach
            out via my email address (listed below) or by visiting the "contact"
            tab above. You won't be disappointed.
          </p>
        </div>
      </div>
    </div>

    <%= erb :footer %>
    <%= erb :javascripts %>
  </body>
</html>
